@import "tailwindcss";

:root {
  --background: #1e1e2e;
  --foreground: #cdd6f4;
  --text: #cdd6f4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text: var(--text);
  --font-sans: var(--font-varela-round);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
